{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} -
        {{ admin_view.admin.name }}{% endblock %}</title>
    {% block head_meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
        <link href="{{ admin_static.url(filename='bootstrap/bootstrap3/css/bootstrap.min.css', v='3.3.5') }}"
              rel="stylesheet">

        <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ admin_static.url(filename='adminlte2/dist/css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ admin_static.url(filename='adminlte2/dist/css/skins/_all-skins.min.css') }}">

        <link href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css', v='1.1.1') }}" rel="stylesheet">
    {% endblock %}
    {% block head %}
    {% endblock %}
    {% block head_tail %}
    {% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
{% block page_body %}
    <div class="wrapper">
        <header class="main-header">
            <a href="" class="logo">
                <span class="logo-mini">Admin</span>
                <span class="logo-lg"><b>{{ admin_view.admin.name }}</b></span>
            </a>
            <nav class="navbar navbar-static-top">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        {% block top_head %}
                        {% endblock %}
                    </ul>
                </div>
            </nav>

        </header>
        <aside class="main-sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    {% block avatarimg %}
                        <img src="{{ admin_static.url(filename='adminlte2/dist/img/avatar.png') }}"
                             class="img-circle" alt="User Image">
                    {% endblock %}
                </div>
                <div class="pull-left info">
                    <p>Welcome, </p>
                    <p>{% block nickname %}管理员{% endblock %}</p>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <section class="sidebar">
                {% block main_menu %}
                    <ul class="sidebar-menu">
                        {{ layout.menu() }}
                    </ul>
                {% endblock %}

                <hr>
                {% block menu_links %}
                    <ul class="sidebar-menu">
                        {{ layout.menu_links() }}
                    </ul>
                {% endblock %}
                {% block access_control %}
                {% endblock %}
            </section>

        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    {% block contentname %}
                        {{ admin_view.menu.name }}
                    {% endblock %}
                </h1>
                <ol class="breadcrumb">
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </section>
            <section class="content">
                {% block messages %}
                    {{ layout.messages() }}
                {% endblock %}

                {% set render_ctx = h.resolve_ctx() %}

                {% block body %}{% endblock %}
            </section>

        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.5
            </div>
            <strong>Copyright &copy; 2014-today <a href=""></a>.</strong> All
            rights
            reserved.

        </footer>
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
        </aside>
        <div class="control-sidebar-bg"></div>
    </div>
{% endblock %}

{% block tail_js %}
    <script src="{{ admin_static.url(filename='adminlte2/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ admin_static.url(filename='bootstrap/adminlte2/js/bootstrap.min.js') }}"></script>
    <script src="{{ admin_static.url(filename='adminlte2/dist/js/app.min.js') }}"></script>
    <script src="{{ admin_static.url(filename='adminlte2/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>

    <script src="{{ admin_static.url(filename='vendor/moment.min.js', v='2.9.0') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/select2/select2.min.js', v='3.5.2') }}"
            type="text/javascript"></script>

{% endblock %}

{% block tail %}
{% endblock %}
</body>
</html>
